#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

if ARCH_X86_64
comment "x86_64 Configuration Options"

choice
	prompt "x86_64 chip selection"
	default ARCH_INTEL64

config ARCH_INTEL64
	bool "intel64"
	select ARCH_X86_HAVE_64BIT
	select ARCH_HAVE_MPU
	select ARCH_USE_MPU
	---help---
		Intel x86_64 architecture

endchoice

config ARCH_CHIP_JAILHOUSE
	bool "Jailhouse x86_64 cell"
	default n
	---help---
		Intel intel64 architecture

config ARCH_CHIP
	string
	default "jailhouse" if ARCH_CHIP_JAILHOUSE

config ARCH_X86_HAVE_64BIT
	bool
	default n

source arch/x86_64/src/common/Kconfig
if ARCH_INTEL64
source arch/x86_64/src/intel64/Kconfig
endif # ARCH_INTEL64
if ARCH_CHIP_JAILHOUSE
source arch/x86_64/src/jailhouse/Kconfig
endif # ARCH_CHIP_JAILHOUSE
endif # ARCH_X86_64
