CONFIG_ARCH_BOARD_QEMU_INTEL64=y
CONFIG_ARCH_BOARD="qemu-intel64"
CONFIG_ARCH_CHIP_QEMU=y
CONFIG_ARCH_STACKDUMP=y
CONFIG_ARCH_X86_64=y
CONFIG_ARCH="x86_64"
CONFIG_BOARD_LOOPSPERMSEC=999
CONFIG_BOOT_RUNFROMEXTSRAM=y
CONFIG_DEV_LOWCONSOLE=y
CONFIG_DISABLE_POLL=y
CONFIG_EXAMPLES_OSTEST_LOOPS=100
CONFIG_EXAMPLES_OSTEST_STACKSIZE=4096
CONFIG_EXAMPLES_OSTEST=y
CONFIG_FS_FAT=y
CONFIG_IDLETHREAD_STACKSIZE=262144
CONFIG_USERMAIN_STACKSIZE=262144
CONFIG_PTHREAD_STACK_MIN=2048
CONFIG_PTHREAD_STACK_DEFAULT=131072
CONFIG_MAX_TASKS=64
CONFIG_NFILE_DESCRIPTORS=32
CONFIG_PTHREAD_MUTEX_TYPES=y
CONFIG_RAM_SIZE=1048576
CONFIG_RAM_START=0x00000000
CONFIG_SDCLONE_DISABLE=y
CONFIG_START_DAY=3
CONFIG_START_MONTH=3
CONFIG_START_YEAR=2011
CONFIG_MEMCPY_INDEXED_COPY=y
CONFIG_MEMCPY_64BIT=y
CONFIG_MEMSET_OPTSPEED=y
CONFIG_MEMSET_64BIT=y
CONFIG_USER_ENTRYPOINT="ostest_main"
